.detail-content-top h1 {
    font-size: 18px;
    margin: 12px 0;
}
.detail-content-bottom {
    display: flex;
    border-top:1px solid #e0e0e0 ;
    padding-top: 15px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    height: auto;

}
.detail-content-left {
    width: 63%;
}
.detail-content-left img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}
.detail-content-right {
    margin-left: 30px;
    width: 37%;
}
.product__detail-item__city {
    font-size: 14px;
    margin-bottom: 10px;
    
}
.product__detail-item__city span {
    color: #2f80ed;

}
.product__detail-item__price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.product__detail-item__price-old {
    font-size: 20px;
    color: #d0021c;
    font-weight: bold;
    margin-right: 5px;

}
.product__detail-item__price-current {
    margin-right: 5px;
    color: #666;
    font-size: 16px;
    text-decoration-line: line-through;
}
.product__detail-item__sale-off-percent {
    color: #d0021c;
    font-size: 16px;

}
.product__detail-item__action {
    font-size: 12px;
    color: #FB6D2E;
    margin-bottom: 10px;

}
.product__detail-item__origin span {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;

}
.product__detail-controls {
    margin-top: 40px;
    display: flex;


}
.product__detail-btn-checkout{
    padding: 10px;
    width: 50%;
    margin-right: 10px;
    background-color: #FB6D2E;
    border: none;
    color: #fff;
    cursor: pointer;

}
.product__detail-btn-cart {
    width: 50%;
    background-color: #2E7FEC;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
    border: none;
    color: #fff;
    cursor: pointer;



}
